@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.profile-page .container-wrapper {
  padding: 90px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.profile-page .container {
  display: grid;
  grid-template-columns: 440px 1fr;
  align-items: flex-start;
  gap: 48px;
}

.update-avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-account-form .form-heading,
.update-avatar-wrapper .heading {
  margin: 0 0 24px;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  align-self: flex-start;
}

.update-account-form .update-account-btn,
.update-avatar-wrapper .change-avatar-btn {
  height: unset !important;
  padding: 12px 0 !important;
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.3s;
}

.update-avatar-wrapper .avatar-uploader {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.update-avatar-wrapper .ant-upload-select {
  width: 202px !important;
  height: 202px !important;
  margin: 0 !important;
}

.update-avatar-wrapper .ant-avatar-image {
  width: 190px !important;
  height: 190px !important;
}
