.home-page section {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

/* Banner */
.home-page .banner {
  position: relative;
  padding: 45px 0 75px;
}

.banner .banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .slick-dots {
  inset-inline-end: unset;
}

.carousel .slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.carousel .slick-dots li.slick-active {
  width: 16px;
}

.carousel .slick-dots li.slick-active button {
  transform: scale(1.5);
  background-color: #ffbe33;
}

.banner .carousel-item {
  height: max(calc(100vh - 190px), 300px);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.carousel-item .header {
  margin: 0 0 15px 0;
  font-family: 'Dancing Script', cursive;
  font-size: 56px;
  font-weight: 700;
}

.carousel-item .description {
  width: 50%;
  margin-bottom: 16px;
}

.banner .order-btn {
  height: unset !important;
  padding: 9px 45px !important;
  margin-top: 10px;
  text-transform: capitalize;
  transition: all 0.3s;
}

/* Sale off */
.home-page .sale-off {
  padding: 90px 0;
}

.sale-off .daily-promotions {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.daily-promotions .promotion-card {
  flex: 1;
  max-width: 60%;
  padding: 20px 15px;
  border-radius: 5px;
  background-color: #222831;
  display: flex;
  align-items: center;
  gap: 15px;
}

.promotion-card .image {
  width: 175px;
  height: 175px;
  border: 5px solid #ffbe33;
  border-radius: 100%;
  overflow: hidden;
  transition: all 0.1 0.5s;
}

.promotion-card .description {
  font-family: 'Dancing Script', cursive;
  color: #fff;
}

.promotion-card .description .title {
  margin: 0;
  font-size: 1.5rem;
}

.promotion-card .description .sale-off-tag {
  margin: 10px 0 0;
  font-size: 1rem;
}

.promotion-card .description .sale-off-tag span {
  font-size: 2.5rem;
}

.promotion-card .order-btn {
  height: unset !important;
  padding: 9px 30px !important;
  margin-top: 10px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

/* About us */
.home-page .about-us {
  padding: 90px 0;
  background: #222831;
}

.about-us .container {
  display: flex;
  align-items: center;
}

.about-us .image-wrapper {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.about-us .image-wrapper img {
  width: 100%;
  max-width: 445px;
}

.about-us .story-wrapper {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  color: #fff;
}

.story-wrapper .heading {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.story-wrapper .story {
  margin: 15px 0;
  font-size: 1rem;
  line-height: 24px;
}

.story-wrapper .read-more-btn {
  height: unset !important;
  padding: 9px 45px !important;
  margin-top: 15px;
  text-transform: capitalize;
  transition: all 0.3s;
}
